src/Helsenorge.Registries/Service References/AddressService/AR3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd3" namespace="http://register.nhn.no/Common" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringstring" type="tns:KeyValuePairOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringstring" nillable="true" type="tns:ArrayOfKeyValuePairOfstringstring" />
  <xs:complexType name="KeyValuePairOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringstring" nillable="true" type="tns:KeyValuePairOfstringstring" />
  <xs:complexType name="ArrayOfKeyValuePairOfintArrayOfCodeUO9uWExd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfintArrayOfCodeUO9uWExd" type="tns:KeyValuePairOfintArrayOfCodeUO9uWExd" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfintArrayOfCodeUO9uWExd" nillable="true" type="tns:ArrayOfKeyValuePairOfintArrayOfCodeUO9uWExd" />
  <xs:complexType name="KeyValuePairOfintArrayOfCodeUO9uWExd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfCode" Namespace="http://register.nhn.no/Common" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:int" />
      <xs:element xmlns:q1="http://register.nhn.no/Common" name="value" nillable="true" type="q1:ArrayOfCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfintArrayOfCodeUO9uWExd" nillable="true" type="tns:KeyValuePairOfintArrayOfCodeUO9uWExd" />
</xs:schema>