src/Helsenorge.Registries/Connected Services/CPAService/CPPA3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NHN.Palantir.WebServices.Contracts.CPPA.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NHN.Palantir.WebServices.Contracts.CPPA.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws-web.test.nhn.no/v1/CPPA?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CollaborationProtocolProfileParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="HerId" type="xs:int" />
      <xs:element minOccurs="0" name="Processes" nillable="true" type="tns:ArrayOfProcess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollaborationProtocolProfileParameters" nillable="true" type="tns:CollaborationProtocolProfileParameters" />
  <xs:complexType name="ArrayOfProcess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Process" nillable="true" type="tns:Process" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcess" nillable="true" type="tns:ArrayOfProcess" />
  <xs:complexType name="Process">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channels" nillable="true" type="tns:ArrayOfChannel" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Process" nillable="true" type="tns:Process" />
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" nillable="true" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannel" nillable="true" type="tns:ArrayOfChannel" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ProcessParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="HerId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Process" nillable="true" type="tns:ProcessWithGuid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessParameter" nillable="true" type="tns:ProcessParameter" />
  <xs:complexType name="ProcessWithGuid">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channels" nillable="true" type="tns:ArrayOfChannel" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="VersionNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessWithGuid" nillable="true" type="tns:ProcessWithGuid" />
  <xs:complexType name="ArrayOfProcessParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessParameter" nillable="true" type="tns:ProcessParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessParameter" nillable="true" type="tns:ArrayOfProcessParameter" />
</xs:schema>