src/Helsenorge.Registries/Connected Services/CPAService/CPPA1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://register.nhn.no/Common" elementFormDefault="qualified" targetNamespace="http://register.nhn.no/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Code">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OID" type="xs:int" />
      <xs:element minOccurs="0" name="SimpleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Code" nillable="true" type="tns:Code" />
  <xs:complexType name="GenericFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericFault" nillable="true" type="tns:GenericFault" />
</xs:schema>