src/Helsenorge.Registries/Connected Services/AddressService/AR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ws.nhn.no/CommunicationPartyService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="http://register.nhn.no/CommunicationParty" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.nhn.no/CommunicationPartyService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICommunicationPartyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses />
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ICommunicationPartyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses />
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_ICommunicationPartyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://register.nhn.no/CommunicationParty" location="https://ws-web.test.nhn.no/v1/AR?wsdl" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_ICommunicationPartyService" type="i0:ICommunicationPartyService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICommunicationPartyService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationPartyDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetDepartmentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServiceDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetServiceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationPersonDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationPersonDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationsHavingCode">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsHavingCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAssosiatedIKSChildOrganizations">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSChildOrganizations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAssosiatedIKSParentOrganizations">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSParentOrganizations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationPersonDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationPersonDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateServiceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateDepartmentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationIKSAssociations">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationIKSAssociations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganizationPerson">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateService">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateDepartment">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChangeLog">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetChangeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationPartyStatistics">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationUpdateStatistics">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationUpdateStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationsOwnedBy">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsOwnedBy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnableTransportOnOrganization">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/EnableTransportOnOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetCommunicationPartyValid">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SetCommunicationPartyValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryption">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignature">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryptionByOrganizationNumber">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionByOrganizationNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignatureByOrganizationNumber">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureByOrganizationNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryptionLdap">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionLdap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignatureLdap">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureLdap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateDetailsForEncryption">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForEncryption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateDetailsForValidatingSignature">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForValidatingSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesForEncryption">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForEncryption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesForValidatingSignature">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForValidatingSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesByLdapUrl">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesByLdapUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLdapSearchProviders">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetLdapSearchProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllHFCommpartiesCsv">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAllHFCommpartiesCsv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomAttribute">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/AddCustomAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomAttribute">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/RemoveCustomAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomAttributes">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCustomAttributes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCoverageAreas">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateCoverageAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICommunicationPartyService" type="i0:ICommunicationPartyService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICommunicationPartyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationPartyDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetDepartmentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServiceDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetServiceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationPersonDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationPersonDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationsHavingCode">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsHavingCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAssosiatedIKSChildOrganizations">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSChildOrganizations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAssosiatedIKSParentOrganizations">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSParentOrganizations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationPersonDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationPersonDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateServiceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentDetails">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateDepartmentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationIKSAssociations">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationIKSAssociations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganizationPerson">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateService">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateDepartment">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChangeLog">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetChangeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationPartyStatistics">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationUpdateStatistics">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationUpdateStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationsOwnedBy">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsOwnedBy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnableTransportOnOrganization">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/EnableTransportOnOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetCommunicationPartyValid">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SetCommunicationPartyValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryption">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignature">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryptionByOrganizationNumber">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionByOrganizationNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignatureByOrganizationNumber">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureByOrganizationNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryptionLdap">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionLdap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignatureLdap">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureLdap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateDetailsForEncryption">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForEncryption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateDetailsForValidatingSignature">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForValidatingSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesForEncryption">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForEncryption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesForValidatingSignature">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForValidatingSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesByLdapUrl">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesByLdapUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLdapSearchProviders">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetLdapSearchProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllHFCommpartiesCsv">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAllHFCommpartiesCsv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomAttribute">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/AddCustomAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomAttribute">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/RemoveCustomAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap12:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomAttributes">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCustomAttributes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCoverageAreas">
      <soap12:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateCoverageAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICommunicationPartyService" type="i0:ICommunicationPartyService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICommunicationPartyService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationPartyDetails">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationDetails">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentDetails">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetDepartmentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServiceDetails">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetServiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationPersonDetails">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationPersonDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationsHavingCode">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsHavingCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAssosiatedIKSChildOrganizations">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSChildOrganizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAssosiatedIKSParentOrganizations">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSParentOrganizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationPersonDetails">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationPersonDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceDetails">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateServiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationDetails">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentDetails">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateDepartmentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationIKSAssociations">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationIKSAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganizationPerson">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateService">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateDepartment">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChangeLog">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetChangeLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationPartyStatistics">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationUpdateStatistics">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationUpdateStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationsOwnedBy">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsOwnedBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnableTransportOnOrganization">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/EnableTransportOnOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetCommunicationPartyValid">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SetCommunicationPartyValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryption">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignature">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryptionByOrganizationNumber">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionByOrganizationNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignatureByOrganizationNumber">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureByOrganizationNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryptionLdap">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionLdap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignatureLdap">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureLdap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateDetailsForEncryption">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForEncryption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateDetailsForValidatingSignature">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForValidatingSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesForEncryption">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForEncryption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesForValidatingSignature">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForValidatingSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesByLdapUrl">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesByLdapUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLdapSearchProviders">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetLdapSearchProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllHFCommpartiesCsv">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAllHFCommpartiesCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomAttribute">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/AddCustomAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomAttribute">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/RemoveCustomAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFaultFault">
        <soap:fault use="literal" name="GenericFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomAttributes">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCustomAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCoverageAreas">
      <soap:operation soapAction="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateCoverageAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>