src/Helsenorge.Registries/Connected Services/AddressService/AR2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://register.nhn.no/Common" elementFormDefault="qualified" targetNamespace="http://register.nhn.no/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Code">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OID" type="xs:int" />
      <xs:element minOccurs="0" name="SimpleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Code" nillable="true" type="tns:Code" />
  <xs:complexType name="ArrayOfElectronicAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ElectronicAddress" nillable="true" type="tns:ElectronicAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfElectronicAddress" nillable="true" type="tns:ArrayOfElectronicAddress" />
  <xs:complexType name="ElectronicAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inherited" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastChanged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Code" />
      <xs:element minOccurs="0" name="TypeCodeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ElectronicAddress" nillable="true" type="tns:ElectronicAddress" />
  <xs:complexType name="ArrayOfPhysicalAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhysicalAddress" nillable="true" type="tns:PhysicalAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhysicalAddress" nillable="true" type="tns:ArrayOfPhysicalAddress" />
  <xs:complexType name="PhysicalAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Code" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inherited" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastChanged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostalCode" type="xs:int" />
      <xs:element minOccurs="0" name="Postbox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Code" />
      <xs:element minOccurs="0" name="TypeCodeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhysicalAddress" nillable="true" type="tns:PhysicalAddress" />
  <xs:complexType name="Period">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Period" nillable="true" type="tns:Period" />
  <xs:complexType name="ArrayOfCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Code" nillable="true" type="tns:Code" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCode" nillable="true" type="tns:ArrayOfCode" />
  <xs:complexType name="CitizenId">
    <xs:sequence>
      <xs:element minOccurs="0" name="CitizenIdType" type="tns:CitizenIdType" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="tns:Code" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CitizenId" nillable="true" type="tns:CitizenId" />
  <xs:simpleType name="CitizenIdType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SSN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FHN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Invalid">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CitizenIdType" nillable="true" type="tns:CitizenIdType" />
  <xs:complexType name="GenericFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericFault" nillable="true" type="tns:GenericFault" />
  <xs:complexType name="ValidationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfValidationError" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationFault" nillable="true" type="tns:ValidationFault" />
  <xs:complexType name="ArrayOfValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationError" nillable="true" type="tns:ValidationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationError" nillable="true" type="tns:ArrayOfValidationError" />
  <xs:complexType name="ValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationError" nillable="true" type="tns:ValidationError" />
  <xs:complexType name="ArrayOfEntityLogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityLogEntry" nillable="true" type="tns:EntityLogEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityLogEntry" nillable="true" type="tns:ArrayOfEntityLogEntry" />
  <xs:complexType name="EntityLogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Changes" nillable="true" type="tns:ArrayOfEntityLogEntryData" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityLogEntry" nillable="true" type="tns:EntityLogEntry" />
  <xs:complexType name="ArrayOfEntityLogEntryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityLogEntryData" nillable="true" type="tns:EntityLogEntryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityLogEntryData" nillable="true" type="tns:ArrayOfEntityLogEntryData" />
  <xs:complexType name="EntityLogEntryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityLogEntryData" nillable="true" type="tns:EntityLogEntryData" />
</xs:schema>