src/Helsenorge.Registries/Connected Services/AddressService/AR6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://register.nhn.no/CertificateDetails" elementFormDefault="qualified" targetNamespace="http://register.nhn.no/CertificateDetails" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CertificateDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Certificate" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LdapUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificateDetails" nillable="true" type="tns:CertificateDetails" />
  <xs:complexType name="ArrayOfCertificateDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CertificateDetails" nillable="true" type="tns:CertificateDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificateDetails" nillable="true" type="tns:ArrayOfCertificateDetails" />
</xs:schema>