src/Helsenorge.Registries/Connected Services/AddressService/CommunicationParty.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://register.nhn.no/CommunicationParty" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="http://ws.nhn.no/CommunicationPartyService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommunicationParty" targetNamespace="http://register.nhn.no/CommunicationParty" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://ws.nhn.no/CommunicationPartyService" location="https://ws-web.test.nhn.no/v1/AR?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://register.nhn.no/CommunicationParty/Imports">
      <xsd:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd0" namespace="http://register.nhn.no/CommunicationParty" />
      <xsd:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd3" namespace="http://register.nhn.no/Common" />
      <xsd:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd4" namespace="http://register.nhn.no/HPR" />
      <xsd:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd6" namespace="http://register.nhn.no/CertificateDetails" />
      <xsd:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd7" namespace="http://register.nhn.no/CertificateSearchResult" />
      <xsd:import schemaLocation="https://ws-web.test.nhn.no/v1/AR?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommunicationPartyService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_Search_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://register.nhn.no/Common" name="detail" element="q1:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchById_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchById" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchById_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://register.nhn.no/Common" name="detail" element="q2:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCommunicationPartyDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunicationPartyDetails" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCommunicationPartyDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunicationPartyDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCommunicationPartyDetails_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://register.nhn.no/Common" name="detail" element="q3:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationDetails" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationDetails_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://register.nhn.no/Common" name="detail" element="q4:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetDepartmentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentDetails" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetDepartmentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetDepartmentDetails_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://register.nhn.no/Common" name="detail" element="q5:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetServiceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceDetails" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetServiceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetServiceDetails_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://register.nhn.no/Common" name="detail" element="q6:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationPersonDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationPersonDetails" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationPersonDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationPersonDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationPersonDetails_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://register.nhn.no/Common" name="detail" element="q7:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationsHavingCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationsHavingCode" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationsHavingCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationsHavingCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationsHavingCode_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://register.nhn.no/Common" name="detail" element="q8:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetAssosiatedIKSChildOrganizations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssosiatedIKSChildOrganizations" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetAssosiatedIKSChildOrganizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssosiatedIKSChildOrganizationsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetAssosiatedIKSChildOrganizations_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://register.nhn.no/Common" name="detail" element="q9:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetAssosiatedIKSParentOrganizations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssosiatedIKSParentOrganizations" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetAssosiatedIKSParentOrganizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssosiatedIKSParentOrganizationsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetAssosiatedIKSParentOrganizations_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://register.nhn.no/Common" name="detail" element="q10:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationPersonDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationPersonDetails" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationPersonDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationPersonDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationPersonDetails_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://register.nhn.no/Common" name="detail" element="q11:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationPersonDetails_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://register.nhn.no/Common" name="detail" element="q12:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateServiceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServiceDetails" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateServiceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServiceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateServiceDetails_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://register.nhn.no/Common" name="detail" element="q13:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateServiceDetails_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://register.nhn.no/Common" name="detail" element="q14:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationDetails" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationDetails_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://register.nhn.no/Common" name="detail" element="q15:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationDetails_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://register.nhn.no/Common" name="detail" element="q16:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateDepartmentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentDetails" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateDepartmentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateDepartmentDetails_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://register.nhn.no/Common" name="detail" element="q17:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateDepartmentDetails_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://register.nhn.no/Common" name="detail" element="q18:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationIKSAssociations_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationIKSAssociations" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationIKSAssociations_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationIKSAssociationsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationIKSAssociations_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://register.nhn.no/Common" name="detail" element="q19:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateOrganizationIKSAssociations_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://register.nhn.no/Common" name="detail" element="q20:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateOrganizationPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganizationPerson" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateOrganizationPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganizationPersonResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateOrganizationPerson_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://register.nhn.no/Common" name="detail" element="q21:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateOrganizationPerson_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://register.nhn.no/Common" name="detail" element="q22:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateService_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateService" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateService_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateService_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://register.nhn.no/Common" name="detail" element="q23:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateService_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://register.nhn.no/Common" name="detail" element="q24:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganization" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateOrganization_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q25="http://register.nhn.no/Common" name="detail" element="q25:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateOrganization_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://register.nhn.no/Common" name="detail" element="q26:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDepartment" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateDepartment_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://register.nhn.no/Common" name="detail" element="q27:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_CreateDepartment_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q28="http://register.nhn.no/Common" name="detail" element="q28:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetChangeLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChangeLog" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetChangeLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangeLogResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetChangeLog_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q29="http://register.nhn.no/Common" name="detail" element="q29:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCommunicationPartyStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunicationPartyStatistics" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCommunicationPartyStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunicationPartyStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCommunicationPartyStatistics_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://register.nhn.no/Common" name="detail" element="q30:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationUpdateStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationUpdateStatistics" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationUpdateStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationUpdateStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationUpdateStatistics_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q31="http://register.nhn.no/Common" name="detail" element="q31:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationsOwnedBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationsOwnedBy" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationsOwnedBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationsOwnedByResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetOrganizationsOwnedBy_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q32="http://register.nhn.no/Common" name="detail" element="q32:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_EnableTransportOnOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableTransportOnOrganization" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_EnableTransportOnOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableTransportOnOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_EnableTransportOnOrganization_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q33="http://register.nhn.no/Common" name="detail" element="q33:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SetCommunicationPartyValid_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCommunicationPartyValid" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SetCommunicationPartyValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCommunicationPartyValidResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SetCommunicationPartyValid_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q34="http://register.nhn.no/Common" name="detail" element="q34:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SetCommunicationPartyValid_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q35="http://register.nhn.no/Common" name="detail" element="q35:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryption_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForEncryption" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryption_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForEncryptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryption_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q36="http://register.nhn.no/Common" name="detail" element="q36:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryption_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q37="http://register.nhn.no/Common" name="detail" element="q37:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForValidatingSignature" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForValidatingSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignature_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q38="http://register.nhn.no/Common" name="detail" element="q38:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignature_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q39="http://register.nhn.no/Common" name="detail" element="q39:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryptionByOrganizationNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForEncryptionByOrganizationNumber" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryptionByOrganizationNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForEncryptionByOrganizationNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryptionByOrganizationNumber_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://register.nhn.no/Common" name="detail" element="q40:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryptionByOrganizationNumber_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q41="http://register.nhn.no/Common" name="detail" element="q41:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignatureByOrganizationNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForValidatingSignatureByOrganizationNumber" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignatureByOrganizationNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForValidatingSignatureByOrganizationNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignatureByOrganizationNumber_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q42="http://register.nhn.no/Common" name="detail" element="q42:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignatureByOrganizationNumber_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q43="http://register.nhn.no/Common" name="detail" element="q43:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificate" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificate_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q44="http://register.nhn.no/Common" name="detail" element="q44:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificate_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q45="http://register.nhn.no/Common" name="detail" element="q45:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryptionLdap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForEncryptionLdap" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryptionLdap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForEncryptionLdapResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryptionLdap_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q46="http://register.nhn.no/Common" name="detail" element="q46:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForEncryptionLdap_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q47="http://register.nhn.no/Common" name="detail" element="q47:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignatureLdap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForValidatingSignatureLdap" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignatureLdap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateForValidatingSignatureLdapResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignatureLdap_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q48="http://register.nhn.no/Common" name="detail" element="q48:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateForValidatingSignatureLdap_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q49="http://register.nhn.no/Common" name="detail" element="q49:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateDetailsForEncryption_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateDetailsForEncryption" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateDetailsForEncryption_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateDetailsForEncryptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateDetailsForEncryption_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q50="http://register.nhn.no/Common" name="detail" element="q50:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateDetailsForEncryption_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q51="http://register.nhn.no/Common" name="detail" element="q51:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateDetailsForValidatingSignature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateDetailsForValidatingSignature" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateDetailsForValidatingSignature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateDetailsForValidatingSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateDetailsForValidatingSignature_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q52="http://register.nhn.no/Common" name="detail" element="q52:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCertificateDetailsForValidatingSignature_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q53="http://register.nhn.no/Common" name="detail" element="q53:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesForEncryption_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCertificatesForEncryption" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesForEncryption_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCertificatesForEncryptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesForEncryption_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q54="http://register.nhn.no/Common" name="detail" element="q54:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesForEncryption_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q55="http://register.nhn.no/Common" name="detail" element="q55:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesForValidatingSignature_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCertificatesForValidatingSignature" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesForValidatingSignature_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCertificatesForValidatingSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesForValidatingSignature_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q56="http://register.nhn.no/Common" name="detail" element="q56:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesForValidatingSignature_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q57="http://register.nhn.no/Common" name="detail" element="q57:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesByLdapUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCertificatesByLdapUrl" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesByLdapUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCertificatesByLdapUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesByLdapUrl_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q58="http://register.nhn.no/Common" name="detail" element="q58:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_SearchCertificatesByLdapUrl_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q59="http://register.nhn.no/Common" name="detail" element="q59:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetLdapSearchProviders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLdapSearchProviders" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetLdapSearchProviders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLdapSearchProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetLdapSearchProviders_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q60="http://register.nhn.no/Common" name="detail" element="q60:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetLdapSearchProviders_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q61="http://register.nhn.no/Common" name="detail" element="q61:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetAllHFCommpartiesCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHFCommpartiesCsv" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetAllHFCommpartiesCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHFCommpartiesCsvResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_AddCustomAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomAttribute" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_AddCustomAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_AddCustomAttribute_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q62="http://register.nhn.no/Common" name="detail" element="q62:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_RemoveCustomAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomAttribute" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_RemoveCustomAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_RemoveCustomAttribute_GenericFaultFault_FaultMessage">
    <wsdl:part xmlns:q63="http://register.nhn.no/Common" name="detail" element="q63:GenericFault" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCustomAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomAttributes" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_GetCustomAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateCoverageAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCoverageAreas" />
  </wsdl:message>
  <wsdl:message name="ICommunicationPartyService_UpdateCoverageAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCoverageAreasResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommunicationPartyService">
    <wsdl:operation name="Ping">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/Ping" message="tns:ICommunicationPartyService_Ping_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/PingResponse" message="tns:ICommunicationPartyService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/Search" message="tns:ICommunicationPartyService_Search_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchResponse" message="tns:ICommunicationPartyService_Search_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_Search_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchById" message="tns:ICommunicationPartyService_SearchById_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchByIdResponse" message="tns:ICommunicationPartyService_SearchById_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchByIdGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_SearchById_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationPartyDetails">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyDetails" message="tns:ICommunicationPartyService_GetCommunicationPartyDetails_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyDetailsResponse" message="tns:ICommunicationPartyService_GetCommunicationPartyDetails_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyDetailsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCommunicationPartyDetails_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationDetails">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationDetails" message="tns:ICommunicationPartyService_GetOrganizationDetails_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationDetailsResponse" message="tns:ICommunicationPartyService_GetOrganizationDetails_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationDetailsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetOrganizationDetails_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentDetails">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetDepartmentDetails" message="tns:ICommunicationPartyService_GetDepartmentDetails_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetDepartmentDetailsResponse" message="tns:ICommunicationPartyService_GetDepartmentDetails_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetDepartmentDetailsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetDepartmentDetails_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceDetails">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetServiceDetails" message="tns:ICommunicationPartyService_GetServiceDetails_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetServiceDetailsResponse" message="tns:ICommunicationPartyService_GetServiceDetails_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetServiceDetailsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetServiceDetails_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationPersonDetails">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationPersonDetails" message="tns:ICommunicationPartyService_GetOrganizationPersonDetails_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationPersonDetailsResponse" message="tns:ICommunicationPartyService_GetOrganizationPersonDetails_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationPersonDetailsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetOrganizationPersonDetails_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationsHavingCode">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsHavingCode" message="tns:ICommunicationPartyService_GetOrganizationsHavingCode_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsHavingCodeResponse" message="tns:ICommunicationPartyService_GetOrganizationsHavingCode_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsHavingCodeGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetOrganizationsHavingCode_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssosiatedIKSChildOrganizations">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSChildOrganizations" message="tns:ICommunicationPartyService_GetAssosiatedIKSChildOrganizations_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSChildOrganizationsResponse" message="tns:ICommunicationPartyService_GetAssosiatedIKSChildOrganizations_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSChildOrganizationsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetAssosiatedIKSChildOrganizations_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssosiatedIKSParentOrganizations">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSParentOrganizations" message="tns:ICommunicationPartyService_GetAssosiatedIKSParentOrganizations_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSParentOrganizationsResponse" message="tns:ICommunicationPartyService_GetAssosiatedIKSParentOrganizations_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAssosiatedIKSParentOrganizationsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetAssosiatedIKSParentOrganizations_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationPersonDetails">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationPersonDetails" message="tns:ICommunicationPartyService_UpdateOrganizationPersonDetails_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationPersonDetailsResponse" message="tns:ICommunicationPartyService_UpdateOrganizationPersonDetails_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationPersonDetailsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_UpdateOrganizationPersonDetails_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationPersonDetailsValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_UpdateOrganizationPersonDetails_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceDetails">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateServiceDetails" message="tns:ICommunicationPartyService_UpdateServiceDetails_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateServiceDetailsResponse" message="tns:ICommunicationPartyService_UpdateServiceDetails_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateServiceDetailsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_UpdateServiceDetails_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateServiceDetailsValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_UpdateServiceDetails_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationDetails">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationDetails" message="tns:ICommunicationPartyService_UpdateOrganizationDetails_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationDetailsResponse" message="tns:ICommunicationPartyService_UpdateOrganizationDetails_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationDetailsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_UpdateOrganizationDetails_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationDetailsValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_UpdateOrganizationDetails_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentDetails">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateDepartmentDetails" message="tns:ICommunicationPartyService_UpdateDepartmentDetails_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateDepartmentDetailsResponse" message="tns:ICommunicationPartyService_UpdateDepartmentDetails_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateDepartmentDetailsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_UpdateDepartmentDetails_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateDepartmentDetailsValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_UpdateDepartmentDetails_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationIKSAssociations">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationIKSAssociations" message="tns:ICommunicationPartyService_UpdateOrganizationIKSAssociations_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationIKSAssociationsResponse" message="tns:ICommunicationPartyService_UpdateOrganizationIKSAssociations_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationIKSAssociationsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_UpdateOrganizationIKSAssociations_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateOrganizationIKSAssociationsValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_UpdateOrganizationIKSAssociations_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrganizationPerson">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationPerson" message="tns:ICommunicationPartyService_CreateOrganizationPerson_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationPersonResponse" message="tns:ICommunicationPartyService_CreateOrganizationPerson_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationPersonGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_CreateOrganizationPerson_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationPersonValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_CreateOrganizationPerson_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateService">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateService" message="tns:ICommunicationPartyService_CreateService_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateServiceResponse" message="tns:ICommunicationPartyService_CreateService_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateServiceGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_CreateService_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateServiceValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_CreateService_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganization" message="tns:ICommunicationPartyService_CreateOrganization_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationResponse" message="tns:ICommunicationPartyService_CreateOrganization_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_CreateOrganization_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateOrganizationValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_CreateOrganization_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDepartment">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateDepartment" message="tns:ICommunicationPartyService_CreateDepartment_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateDepartmentResponse" message="tns:ICommunicationPartyService_CreateDepartment_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateDepartmentGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_CreateDepartment_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/CreateDepartmentValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_CreateDepartment_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChangeLog">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetChangeLog" message="tns:ICommunicationPartyService_GetChangeLog_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetChangeLogResponse" message="tns:ICommunicationPartyService_GetChangeLog_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetChangeLogGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetChangeLog_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationPartyStatistics">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyStatistics" message="tns:ICommunicationPartyService_GetCommunicationPartyStatistics_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyStatisticsResponse" message="tns:ICommunicationPartyService_GetCommunicationPartyStatistics_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCommunicationPartyStatisticsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCommunicationPartyStatistics_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationUpdateStatistics">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationUpdateStatistics" message="tns:ICommunicationPartyService_GetOrganizationUpdateStatistics_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationUpdateStatisticsResponse" message="tns:ICommunicationPartyService_GetOrganizationUpdateStatistics_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationUpdateStatisticsGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetOrganizationUpdateStatistics_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationsOwnedBy">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsOwnedBy" message="tns:ICommunicationPartyService_GetOrganizationsOwnedBy_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsOwnedByResponse" message="tns:ICommunicationPartyService_GetOrganizationsOwnedBy_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetOrganizationsOwnedByGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetOrganizationsOwnedBy_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableTransportOnOrganization">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/EnableTransportOnOrganization" message="tns:ICommunicationPartyService_EnableTransportOnOrganization_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/EnableTransportOnOrganizationResponse" message="tns:ICommunicationPartyService_EnableTransportOnOrganization_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/EnableTransportOnOrganizationGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_EnableTransportOnOrganization_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCommunicationPartyValid">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SetCommunicationPartyValid" message="tns:ICommunicationPartyService_SetCommunicationPartyValid_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SetCommunicationPartyValidResponse" message="tns:ICommunicationPartyService_SetCommunicationPartyValid_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SetCommunicationPartyValidGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_SetCommunicationPartyValid_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SetCommunicationPartyValidValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_SetCommunicationPartyValid_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryption">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryption" message="tns:ICommunicationPartyService_GetCertificateForEncryption_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionResponse" message="tns:ICommunicationPartyService_GetCertificateForEncryption_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCertificateForEncryption_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetCertificateForEncryption_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignature">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignature" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignature_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureResponse" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignature_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignature_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignature_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryptionByOrganizationNumber">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionByOrganizationNumber" message="tns:ICommunicationPartyService_GetCertificateForEncryptionByOrganizationNumber_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionByOrganizationNumberResponse" message="tns:ICommunicationPartyService_GetCertificateForEncryptionByOrganizationNumber_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionByOrganizationNumberGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCertificateForEncryptionByOrganizationNumber_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionByOrganizationNumberValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetCertificateForEncryptionByOrganizationNumber_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignatureByOrganizationNumber">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureByOrganizationNumber" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignatureByOrganizationNumber_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureByOrganizationNumberResponse" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignatureByOrganizationNumber_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureByOrganizationNumberGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignatureByOrganizationNumber_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureByOrganizationNumberValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignatureByOrganizationNumber_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificate" message="tns:ICommunicationPartyService_GetCertificate_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateResponse" message="tns:ICommunicationPartyService_GetCertificate_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCertificate_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetCertificate_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForEncryptionLdap">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionLdap" message="tns:ICommunicationPartyService_GetCertificateForEncryptionLdap_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionLdapResponse" message="tns:ICommunicationPartyService_GetCertificateForEncryptionLdap_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionLdapGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCertificateForEncryptionLdap_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForEncryptionLdapValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetCertificateForEncryptionLdap_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateForValidatingSignatureLdap">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureLdap" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignatureLdap_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureLdapResponse" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignatureLdap_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureLdapGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignatureLdap_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateForValidatingSignatureLdapValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetCertificateForValidatingSignatureLdap_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateDetailsForEncryption">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForEncryption" message="tns:ICommunicationPartyService_GetCertificateDetailsForEncryption_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForEncryptionResponse" message="tns:ICommunicationPartyService_GetCertificateDetailsForEncryption_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForEncryptionGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCertificateDetailsForEncryption_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForEncryptionValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetCertificateDetailsForEncryption_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateDetailsForValidatingSignature">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForValidatingSignature" message="tns:ICommunicationPartyService_GetCertificateDetailsForValidatingSignature_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForValidatingSignatureResponse" message="tns:ICommunicationPartyService_GetCertificateDetailsForValidatingSignature_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForValidatingSignatureGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetCertificateDetailsForValidatingSignature_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCertificateDetailsForValidatingSignatureValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetCertificateDetailsForValidatingSignature_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesForEncryption">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForEncryption" message="tns:ICommunicationPartyService_SearchCertificatesForEncryption_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForEncryptionResponse" message="tns:ICommunicationPartyService_SearchCertificatesForEncryption_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForEncryptionGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_SearchCertificatesForEncryption_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForEncryptionValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_SearchCertificatesForEncryption_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesForValidatingSignature">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForValidatingSignature" message="tns:ICommunicationPartyService_SearchCertificatesForValidatingSignature_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForValidatingSignatureResponse" message="tns:ICommunicationPartyService_SearchCertificatesForValidatingSignature_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForValidatingSignatureGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_SearchCertificatesForValidatingSignature_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesForValidatingSignatureValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_SearchCertificatesForValidatingSignature_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCertificatesByLdapUrl">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesByLdapUrl" message="tns:ICommunicationPartyService_SearchCertificatesByLdapUrl_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesByLdapUrlResponse" message="tns:ICommunicationPartyService_SearchCertificatesByLdapUrl_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesByLdapUrlGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_SearchCertificatesByLdapUrl_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/SearchCertificatesByLdapUrlValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_SearchCertificatesByLdapUrl_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLdapSearchProviders">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetLdapSearchProviders" message="tns:ICommunicationPartyService_GetLdapSearchProviders_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetLdapSearchProvidersResponse" message="tns:ICommunicationPartyService_GetLdapSearchProviders_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetLdapSearchProvidersGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_GetLdapSearchProviders_GenericFaultFault_FaultMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetLdapSearchProvidersValidationFaultFault" name="ValidationFaultFault" message="tns:ICommunicationPartyService_GetLdapSearchProviders_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHFCommpartiesCsv">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAllHFCommpartiesCsv" message="tns:ICommunicationPartyService_GetAllHFCommpartiesCsv_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetAllHFCommpartiesCsvResponse" message="tns:ICommunicationPartyService_GetAllHFCommpartiesCsv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomAttribute">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/AddCustomAttribute" message="tns:ICommunicationPartyService_AddCustomAttribute_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/AddCustomAttributeResponse" message="tns:ICommunicationPartyService_AddCustomAttribute_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/AddCustomAttributeGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_AddCustomAttribute_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomAttribute">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/RemoveCustomAttribute" message="tns:ICommunicationPartyService_RemoveCustomAttribute_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/RemoveCustomAttributeResponse" message="tns:ICommunicationPartyService_RemoveCustomAttribute_OutputMessage" />
      <wsdl:fault wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/RemoveCustomAttributeGenericFaultFault" name="GenericFaultFault" message="tns:ICommunicationPartyService_RemoveCustomAttribute_GenericFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomAttributes">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCustomAttributes" message="tns:ICommunicationPartyService_GetCustomAttributes_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/GetCustomAttributesResponse" message="tns:ICommunicationPartyService_GetCustomAttributes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCoverageAreas">
      <wsdl:input wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateCoverageAreas" message="tns:ICommunicationPartyService_UpdateCoverageAreas_InputMessage" />
      <wsdl:output wsam:Action="http://register.nhn.no/CommunicationParty/ICommunicationPartyService/UpdateCoverageAreasResponse" message="tns:ICommunicationPartyService_UpdateCoverageAreas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CommunicationParty">
    <wsdl:port name="WSHttpBinding_ICommunicationPartyService" binding="i0:WSHttpBinding_ICommunicationPartyService">
      <soap12:address location="https://ws-web.test.nhn.no/v1/AR" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://ws-web.test.nhn.no/v1/AR</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICommunicationPartyService" binding="i0:NetTcpBinding_ICommunicationPartyService">
      <soap12:address location="net.tcp://ws-web.test.nhn.no:9876/v1/AR" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://ws-web.test.nhn.no:9876/v1/AR</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>ws-web.test.nhn.no</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICommunicationPartyService" binding="i0:BasicHttpBinding_ICommunicationPartyService">
      <soap:address location="https://ws-web.test.nhn.no/v1/AR/Basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>